# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Workspace
.vscode
EDO/EDO
EDDP/EDDP
EDDP/valores.dat
main-elipticas
main-parabolicas
main-hiperbolicas
main
EDO/datos.dat
EDDP/resultados.dat
EDDP/ejercicio-parabolicas
archivo.dat
ENL/guia4
.directory
Guia 4
EDDP/main-elipticas2
EDDP/Guia 5/Ej01
EDDP/Guia 5/Ej02
EDDP/Guia 5/valores.dat
EDDP/Guia 5/ejecutame
