# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Workspace
.vscode/launch.json
.vscode/tasks.json
EDO/EDO
datos.dat
EDO/EDO Vectorizado
EDO/EDO_Vectorizado_Enlace_Tardio
